
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width:100vw;
}
.container{
    padding: 2em 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.purple{
    color: #6030b1;
}

.flex__column--align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex__justify--align{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    NAV
 */

.logo--img{
    width: 8em;
    padding-left: 1em;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100vw;
}

.nav__list{
    display: flex;
}

.nav__links{
    padding: 0 1em;
    font-size: 1.2em;
}

.btn-contact{
    border-radius: 2em;
    background-color: #6030b1;
    color: #fff;
    padding: 0.25em 1em;
    font-size: 1em;
}

.btn-contact:hover{
    background-color: #3a25b1e1;
    cursor: not-allowed;
}

#landing_page{
    text-align: center;
    padding: 1rem 0;
    width: 100vw;
}

.landing_page--desc{
    width: 100%;
    max-width: 800px;
}

.landing_page--title{
    font-size: 3em;
    padding-bottom: 0.5em;
}

.landing_page--sub-title{
    padding-bottom: 0.5em;
}

.landing_page-img{
    width: 40em;
}

.searchbar{
    width: 100%;
    padding: 1em 0;
    position: relative;
}

.search{
    width: 100%;
    max-width: 25em;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5em;
}

.btn-search{
    background-color: #6030b1;
    color: #fff;
    border: none;

    padding: 0.5em 1.25em;
    border-radius: 0.75em;
    font-size: 2em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    position: relative;
}

.btn-search:hover{
    cursor: pointer;
    background-color: #ff328f;
}

.spinner .btn-search:hover{
    cursor:not-allowed;
}
.spinner .fa-search{
    visibility: hidden;
}
.spinner .fa-spinner{
    visibility: visible;
    animation:spin 900ms infinite linear;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.fa-search{
    position: absolute;
}

.fa-spinner{
    visibility: hidden;
}

.link__hover--effect{
    position: relative;
}

.link__hover--effect::after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: #242424;
    transition: all 300ms ease;
}
.link__hover--effect:hover::after{
    left: 0;
    width: 100%;
}

/* FIND YOUR CAR PAGE  */

.find__landing-page{
    justify-content: center;
    padding: 3em 0;
    background-color: lightblue;
    width: 100%;
}
.page{
    width: 100%;
}

.btn-find{
    background-color: #fff;
    color:#6030b1;
    width:30px;
    height: 30px;
    position: inherit;
    right: 60px;
    border: none;
}

.find-search{
    font-size: 2em;
}

.btn-find:hover{
    cursor: pointer;
    color: #ff328f;
}

#content{
    width: 100%;
}

@keyframes slide {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

.books{
    display: grid;
    grid-template-columns: repeat(4,calc(90%/4));
    gap: 1rem;
    margin-left: 1rem;
}

.book{
  
    height: 20em;
    
    outline: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    justify-content: space-around;
    animation: slide 800ms ease;
}

.book__thumbnail{
    height: 10em;
    transform: scale(1);
    transition: all 300ms ease;
    outline: 2px solid rgba(0,0,0,0.1);
}

.book__para{
    padding: 0 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 12em;
}

.book__desc{
    gap: 1rem;
}

.ratings{
    display: flex;
}

.results{
    display: flex;
    justify-content: space-between;
}


.results__title{
    padding-bottom: 1rem;
    margin-left:1rem;
}


.book__thumbnail:hover{
    transform: scale(1.1);
}

@media(max-width:768px){
    a{
        font-size: 0.8;
    }
   p{
       font-size: 1em;
   }
    .nav__links{
        padding: 0 0.8em;
    }
    .search{
        margin-left: 1em;

        padding: 0.5em;
    }
    .row{
       max-width: 90%;
    }
    .books{
        grid-template-columns: 100%;
        /* width: 100vw; */
    }
    .book{
        display: flex;
        flex-direction: row;
        margin: 0 0.25em;
        width: 100%;
    }
    .book__desc{
        width: 30em;
    }
    .book__thumbnail{
        width: 8em;
        margin-left: 1em;
    }
    .book__para{
        overflow:hidden;
        white-space:pre-wrap;
        text-overflow: ellipsis;
        width: 20em;
        font-size: 14px;
    }
}

@media(max-width:550px){
    p{
        font-size: 1em;
    }
    a{
        font-size: 0.8em;
    }
    .row{
        max-width: 95%;
    }
    .nav__links{
        padding: 0 0.5em;
    }
    .search{
        margin-left: 1em;
        width: 18em;
        font-size: 20px;
    }
    .btn-contact{
        font-size: 0.8em;
    }
}